.parent{
  margin-top: 20px;
  background-image: linear-gradient(to bottom,#902790,#6A2C91) !important;
  border-radius: 15px;
}
.tech{
  margin-top: 15%;
}
.btn-primary{
  background-color: white !important;
  color: #902790 !important;
}
label{
  font-weight: bold;
}
p{
  font-size: 12px;
}
.form-control{
  height: 30px ;
}
.form{
  background-image: linear-gradient(to bottom,#AB5DAB,#8E62AD) !important;
  border-radius: 15px;
}
.register{
  border-radius: 20px;
}
span{
  font-size: 15px !important;
  position: absolute !important;
  color: rgb(253, 2, 2);
  font-weight: 600;
}
.header{
  background-color: #435D7D;
  --bs-table-bg: #435D7D
}
